# Dockerプロジェクト名
COMPOSE_PROJECT_NAME=docker_cake1

# ホストのユーザIDと合わせて設定
UID=1000
GROUPS=1000

### プロジェクトルートディレクトリ
APP_ROOT=../cake/

### サーバー上の作業ディレクトリ
APP_CONTAINER=/var/www/html/cake

### NGINX #################################################
NGINX_VERSION=1.14

### PHP-FPM ###############################################
PHP_VERSION=7.3

### NODE ##################################################
NODE_VERSION=11

### MYSQL #################################################
MYSQL_VERSION=8.0
MYSQL_DATABASE=testdb
MYSQL_USER=testuser
MYSQL_PASSWORD=passwd
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_TIMEZONE=Asia/Tokyo
